{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path("route_list_products") }}">List</a></li>
    </ul>
    <h1>Insert new product</h1>
    {{ include('products/_form.html.twig', {
        button_text: 'Insert'
    }) }}
{% endblock %}