{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path("route_create_page") }}">Create</a></li>
        <li><a href="{{ path("route_list_page") }}">List</a></li>
        <li><a href="{{ path("route_edit_page") }}">Edit</a></li>
    </ul>
{% endblock %}