{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path("route_create_product") }}">Create</a></li>
        <li><a href="{{ path("route_list_products") }}">List</a></li>
    </ul>
{% endblock %}